<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title></title>
 </head>
 <body>
   <h1>Create a puppy</h1>
   <form method="post" action='/display_puppy'>
     <p>Name<input type="text" name="name"></p>
     <p>Breed<input type="text" name="breed"></p>
     <p>Age<input type="text" name="age"></p>
     <input type="submit" id="submit">
   </form>
 </body>
</html>
